@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

h1 {
  color: #36454F;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  text-align: center;
  padding: 10px 30px;
  margin-left: 3%;
  margin-top: 8%;
}

.menu-body {
    color: #36454F;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 10px 30px;
    margin-left: 3%;
    margin-top: 4%;
}

.nav_link_menu,
.nav_link_api,
.nav_link_bot,
.nav_link_mod_menu,
.nav_link_toolkit {
  display: inline-block;
  position: relative;
  color: #ffffff
}

.nav_link_menu:after,
.nav_link_api:after,
.nav_link_bot:after,
.nav_link_mod_menu:after,
.nav_link_toolkit:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav_link_menu:hover:after,
.nav_link_api:hover:after,
.nav_link_bot:hover:after,
.nav_link_mod_menu:hover:after,
.nav_link_toolkit:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

li, a {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 10%;
    box-shadow: 1px 2px 1px #16161b;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      0deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 0%,
      rgba(22, 22, 27, 0.5) 0%
    );
  }
  

.nav_links {
  list-style: none;
}

.nav_links li {
  text-align: center;
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #C8A2C8;
}